BKP
.next
node_modules

.env.example
.env.local
.env
env

package-lock.json

supabase

database_structure.sql
database_roles.sql

arquivos

phanteon-bot
phanteon-api
sql/add_plans_slug_column.sql
DEPLOY_INSTRUCOES.md
